body {
     box-shadow: 5px;
     padding: 30px;
     margin: 50px;
}
h3 
{
    color: white;
    box-shadow: 5px;
    font-size: 15px;
    padding: 30px;
    margin: 50px;
}

canvas
{
    border-radius: 20px;
    box-shadow: 5px;
    margin-left: 200px;
}
